@media (min-width: 821px){

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f5f7fa;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Montserrat;
  }
  
  .wrapper {
    background-color: #fff;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 15);
  }
  
  .sidebar {
    background-color: #333644;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .my-photo {
    width: 370px;
  }
  
  .about-me-container {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
   
  }
  .my-name {
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
  }

  }

  @media (min-width: 721px) and (max-width: 820px) {
  
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    
    body {
      background-color: #fff;
      padding-left: 20px;
      padding-right: 40px;
      padding-top: 40px;
      padding-bottom: 40px;
      font-family: Montserrat;
    }
    
    .wrapper {
      background-color: #fff;
      display: flex;
      max-width: 820px;
      margin: 0 auto;
    
    }
    
    .sidebar {
      background-color: #333644;
      width: 410px;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    
    .my-photo {
      width: 410px;
    }
    
    .about-me-container {
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 10px;
      padding-bottom: 50px;
    }

    .my-name {
      font-size: 45px;
      font-weight: 700;
    }
  }

  @media (min-width: 621px) and (max-width: 720px) {
  
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    
    body {
      background-color: #fff;
      padding-left: 20px;
      padding-right: 40px;
      padding-top: 40px;
      padding-bottom: 40px;
      font-family: Montserrat;
    }
    
    .wrapper {
      background-color: #fff;
      display: flex;
      max-width: 720px;
      margin: 0 auto;
    
    }
    
    .sidebar {
      background-color: #333644;
      width: 360px;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    
    .my-photo {
      width: 360px;
    }
    
    .about-me-container {
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 10px;
      padding-bottom: 50px;
    }

    .my-name {
      font-size: 45px;
      font-weight: 700;
    }
  }

  @media (min-width: 521px) and (max-width: 620px) {
  
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    
    body {
      background-color: #fff;
      padding-left: 20px;
      padding-right: 40px;
      padding-top: 40px;
      padding-bottom: 40px;
      font-family: Montserrat;
    }
    
    .wrapper {
      background-color: #fff;
      display: flex;
      max-width: 620px;
      margin: 0 auto;
    
    }
    
    .sidebar {
      background-color: #333644;
      width: 310px;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    
    .my-photo {
      width: 310px;
    }
    
    .about-me-container {
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 10px;
      padding-bottom: 50px;
    }

    .my-name {
      font-size: 45px;
      font-weight: 700;
    }
  }
  
  @media (min-width: 421px) and (max-width: 520px) {
  
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    
    body {
      background-color: #fff;
      padding-left: 20px;
      padding-right: 40px;
      padding-top: 40px;
      padding-bottom: 40px;
      font-family: Montserrat;
    }
    
    .wrapper {
      background-color: #fff;
      display: flex;
      max-width: 520px;
      margin: 0 auto;
    
    }
    
    .sidebar {
      background-color: #333644;
      width: 260px;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    
    .my-photo {
      width: 260px;
    }
    
    .about-me-container {
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 10px;
      padding-bottom: 50px;
    }

    .my-name {
      font-size: 45px;
      font-weight: 700;
    }
  }

  @media (min-width: 381px) and (max-width: 420px){
    * {
      padding: 0;
      margin: 0;
      box-sizing: content-box;
    }
    
    body {
      background-color: #f5f7fa;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      font-family: Montserrat;
    }
    
    .sidebar {
      background-color: #1e2939;
      width: 420px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    
    .my-photo {
      width: 370px;
      padding-left: 10px;
      padding-right: 10px;
    }
    
    .about-me-container {
      
      width: 380px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom: 50px;

    }
    .my-name {
      font-size: 45px;
      font-weight: 700;
    }


  }

  @media (min-width: 361px) and (max-width: 380px){
    * {
      padding: 0;
      margin: 0;
      box-sizing: content-box;
    }
    
    body {
      background-color: #f5f7fa;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      font-family: Montserrat;
    }
    
    .sidebar {
      background-color: #1e2939;
      width: 380px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    
    .my-photo {
      width: 360px;
      padding-left: 10px;
      padding-right: 10px;
    }
    
    .about-me-container {
      
      width: 340px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom: 50px;
    }
    .my-name {
      font-size: 45px;
      font-weight: 700;
    }


  }

  @media (min-width: 321px) and (max-width: 360px){
    * {
      padding: 0;
      margin: 0;
      box-sizing: content-box;
    }
    
    body {
      background-color: #f5f7fa;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      font-family: Montserrat;
    }
    
    .sidebar {
      background-color: #1e2939;
      width: 360px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    
    .my-photo {
      width: 340px;
      padding-left: 10px;
      padding-right: 10px;
    }
    
    .about-me-container {
      
      width: 320px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom: 50px;
    }
    .my-name {
      font-size: 45px;
      font-weight: 700;
    }


  }



  @media (max-width: 320px){
  
    * {
      padding: 0;
      margin: 0;
      box-sizing: content-box;
    }
    
    body {
      background-color: #f5f7fa;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      font-family: Montserrat;
    }
    
    .sidebar {
      background-color: #1e2939;
      width: 320px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    
    .my-photo {
      width: 300px;
      padding-left: 10px;
      padding-right: 10px;
    }
    
    .about-me-container {
      
      width: 300px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 50px;
    }
    .my-name {
      font-size: 45px;
      font-weight: 700;
    }
}