
.contacts-container {
  margin-top: 60px;
  margin-right: 40px;
  margin-left: 40px;
}

.contacts-title{
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #d8dadd;
}

.contacts-link-type {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-right: 10px;
}


.tech-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.tech-skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}

.tech-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ffb108;
  margin-left: 15px;
}

.tech-skills-text {
  color: #d8dadd;
}


.languagers-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.languagers-skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}

.languagers-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ffb108;
  margin-left: 15px;
}

.languagers-skills-text {
  color: #d8dadd;
}

.my-summary-container {
  margin-bottom: 65px;
}

.my-profession {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 23px;
}

.summary{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
}

.my-projects-container {
  margin-bottom: 55px;
}

.about-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.projects-link {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.proof-link {
  color: #bac5c2f6;
  font-size: 10px;
  font-weight: 400;
  line-height: 24px;
}

.tech-name {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.dots {
    color: #bebebe;
    font-weight: 100;
}

.projects-item {
   font-weight: 700;
   margin-left: 17px;
}

.profession-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.courses-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.credential-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.profession-company-and-education {
  color: #ffb108;
}

.work-education-time {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.courses-education-time {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.prof-divider {
  color: #000000;
}

.profession-duties {
  margin-top: 14px;
  margin-bottom: 30px;
}

.profession-duties-item {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.my-specialty {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}